.DS_Store
stow/.config/nvim/plugin/packer_compiled.lua
stow/.vim/.netrwhist
stow/.vim/undodir/
stow/.config/tmux/plugins/
stow/Library/Rime/*.userdb
stow/Library/Rime/build/
stow/Library/Rime/installation.yaml
stow/Library/Rime/user.yaml
stow/Library/Rime/japanese.jmdict.dict.yaml
stow/Library/Rime/japanese.kana.dict.yaml
stow/Library/Rime/japanese.mozc.dict.yaml
